* {
  font-family: 'Helvetica', Arial, sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box; 
}

.top {
  margin-top: 10px;
  border-radius: 25px;
  background-color: #81bd86;
  padding: 20px;
  width: 100%; 
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.title {
  border-radius: 25px;
  background-color: #81bd86;
  padding: 20px;
  width: 100%; 
  overflow-y: auto;
  height: 650px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.center {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f3f7f4;
}
h2, p, h1{
  margin: 0px;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 20px 50px 20px;
}
.inputs {
  background-color: #6da772;
  border: solid 2px white;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 8px 4px 0 0;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 1.2rem;
  width: auto;
}
.inputs input {
  color: black;
  background-color: white;
}

.wrong-input {
  text-align: center;
  color: red;
}
